{%extends 'main.html'%}
{%load static %}
{%block content%}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">

        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/1.jpg'%}" class="img-fluid rounded">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="{%url 'store'%}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header><!-- sect-heading -->

        
        <div class="row">
            {%for product in products%}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{% url 'single_product' product.id %}" class="img-wrap"> <img src="{{product.product_img.url}}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'single_product' product.id %}" class="title">{{product.product_name}}</a>
                        <span class="price">&#8377;{{product.price_discount}}</span>
                        {%if product.price_main%}
                        <del class="price-old">&#8377;{{product.price_main}}</del>
                        {%endif%}
                    </figcaption>
                </div>
            </div> <!-- col.// -->
              {%endfor%}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
{%endblock content%}